@font-face {
  font-family: "FoundersGrotesk-Regular";
  font-display: swap;
  src: url("./fonts/FoundersGrotesk-Regular.eot");
  src: url("./fonts/FoundersGrotesk-Regulard41d.html?#iefix")
      format("embedded-opentype"),
    url("./fonts/FoundersGrotesk-Regular.woff") format("woff"),
    url("./fonts/FoundersGrotesk-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "FoundersGrotesk-Light";
  font-display: swap;
  src: url("./fonts/FoundersGrotesk-Light.eot");
  src: url("./fonts/FoundersGrotesk-Lightd41d.html?#iefix")
      format("embedded-opentype"),
    url("./fonts/FoundersGrotesk-Light.woff") format("woff"),
    url("./fonts/FoundersGrotesk-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "AntiquaRoman";
  font-display: swap;
  src: url("./fonts/AntiquaRoman.eot");
  src: url("./fonts/AntiquaRomand41d.html?#iefix") format("embedded-opentype"),
    url("./fonts/AntiquaRoman.woff") format("woff"),
    url("./fonts/AntiquaRoman.ttf") format("truetype");
  font-style: normal;
}
