.fancy-cursor[data-v-9a827ae6] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999000;
  pointer-events: none;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  margin-left: -22px;
  transition: opacity 0.4s;
  mix-blend-mode: difference;
}

.circle[data-v-9a827ae6] {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: border 0.4s;
}

.pixi-renderer[data-v-106442b7],
canvas[data-v-106442b7] {
  width: 100%;
  height: 100%;
}

.renderer[data-v-2cdf4e22] {
  transform: scale(1.05);
}

.hero-header[data-v-093c996a] {
  height: 90vh;
}

@media (min-width: 768px) {
  .hero-header[data-v-093c996a] {
    height: auto;
    min-height: calc(100vh + 1px);
  }
}

.hero-header .vertical-line[data-v-093c996a] {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 2px;
  background-color: #fff;
  transform: rotate(112deg);
}

@media (min-width: 768px) {
  .hero-header .vertical-line[data-v-093c996a] {
    width: 10rem;
  }
}

.hero-header .margin-em[data-v-093c996a] {
  margin: 0 0.1em;
}

.hero-header .font-mobile[data-v-093c996a] {
  font-size: 2rem;
}

.contact-header .image-one[data-v-adb2b482] {
  width: 27vw;
  margin-top: -3rem;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .contact-header .image-wrapper[data-v-adb2b482] {
    margin-top: -5rem;
  }
}

.contact-header .image-wrapper .image-two[data-v-adb2b482] {
  width: 43vw;
}

@media (min-width: 768px) {
  .contact-header .image-wrapper .image-two[data-v-adb2b482] {
    width: 22vw;
  }
}

.contact-header .image-wrapper .image-three[data-v-adb2b482] {
  width: 40vw;
  margin-right: -4rem;
  margin-top: 7rem;
}

@media (min-width: 768px) {
  .contact-header .image-wrapper .image-three[data-v-adb2b482] {
    position: relative;
    width: 30vw;
  }
}

.contact-header .image-four[data-v-adb2b482] {
  width: 15vw;
  transform: translate(50%, -50%);
}

.contact-header .image-five[data-v-adb2b482] {
  position: absolute;
  right: 100vw;
  transform: translateX(100%);
  top: 13vw;
  width: 38vw;
}

@media (min-width: 768px) {
  .contact-header .image-five[data-v-adb2b482] {
    width: 20vw;
    right: -2rem;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .contact-header .headline[data-v-adb2b482] {
    line-height: 0.8;
  }
}

@media (max-width: 767.98px) {
  .contact-header .medium[data-v-adb2b482] {
    font-size: 1.74rem;
  }
}

.about-header .big-left-margin[data-v-6d5b4454] {
  margin-left: 1em;
}

.about-header .headline[data-v-6d5b4454] {
  left: 44%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 10%;
}

.about-header .stage[data-v-6d5b4454] {
  width: 108%;
  height: 108%;
  left: -4%;
  top: -4%;
  transition: opacity 1s;
}

.about-header .line[data-v-6d5b4454] {
  width: 2px;
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .about-header .line[data-v-6d5b4454] {
    width: 3px;
  }
}

.about-header .line--1[data-v-6d5b4454] {
  height: 100%;
  left: 33.1%;
  transform: rotate(-4.2deg);
}

.about-header .line--2[data-v-6d5b4454] {
  left: 73.7%;
  transform: rotate(7.5deg);
  height: 96%;
}

.about-header .img0[data-v-6d5b4454],
.about-header .img2[data-v-6d5b4454] {
  -o-object-fit: contain;
  object-fit: contain;
}

.about-header .star-icon[data-v-6d5b4454] {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .about-header .star-icon[data-v-6d5b4454] {
    width: 5rem;
    height: 5rem;
  }
}

.about-header .star-icon path[data-v-6d5b4454] {
  fill: #fff;
}

.about-header .oval-text[data-v-6d5b4454] {
  width: 104%;
  height: 104%;
  left: -2%;
  top: -2%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (min-width: 768px) {
  .footer-part a[data-v-56c4ce04]:not(:last-child) {
    margin-right: 3rem;
  }
}

.page-footer[data-v-6db60436] {
  margin-top: -5px;
}

@media (min-width: 768px) {
  .page-footer a[data-v-6db60436]:not(:last-child) {
    margin-right: 3rem;
  }
}

.text-component .star-icon[data-v-66674285] {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .text-component .star-icon[data-v-66674285] {
    width: 5rem;
    height: 5rem;
  }
}

.text-component .star-icon path[data-v-66674285] {
  fill: #000;
}

.text-component .memory-icon[data-v-66674285] {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .text-component .memory-icon[data-v-66674285] {
    width: 4rem;
    height: 4rem;
  }
}

.text-component .memory-icon path[data-v-66674285] {
  fill: #000;
}

@media (min-width: 768px) {
  .text-component .content-wrapper[data-v-66674285] {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .half-screen-image .content[data-v-39d8ac34] {
    width: 31vw;
  }
}

.half-screen-image .overlay[data-v-39d8ac34] {
  width: 20%;
}

.half-screen-image .white-div[data-v-39d8ac34] {
  height: 35vw;
}

.gallery-circle-bg .small-image-top[data-v-822e4710] {
  position: absolute;
  top: 72vw;
  width: 34vw;
  right: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .gallery-circle-bg .small-image-top[data-v-822e4710] {
    top: 14rem;
    width: 15vw;
    transform: translateX(50%);
  }
}

.gallery-circle-bg .headline-two[data-v-822e4710] {
  transform: translateX(17%);
}

@media (min-width: 768px) {
  .gallery-circle-bg .headline-two[data-v-822e4710] {
    transform: translateX(-4%);
  }
}

.gallery-circle-bg .circle[data-v-822e4710] {
  width: 250vw;
  height: 250vw;
  left: 10%;
  top: 1rem;
  border-radius: 100%;
}

@media (min-width: 768px) {
  .gallery-circle-bg .circle[data-v-822e4710] {
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.gallery-circle-bg .col-right[data-v-822e4710] {
  width: 100%;
}

@media (min-width: 768px) {
  .gallery-circle-bg .col-right[data-v-822e4710] {
    width: 26vw;
  }
}

@media (min-width: 768px) {
  .gallery-circle-bg .content[data-v-822e4710] {
    transform: translate(14vw, -20%);
  }
}

.gallery-circle-bg .content span[data-v-822e4710] {
  text-align: right;
}

@media (min-width: 768px) {
  .gallery-circle-bg .button-wrapper[data-v-822e4710] {
    transform: translateX(14vw);
  }
}

@media (min-width: 768px) {
  .gallery-circle-bg .caption-wrapper[data-v-822e4710] {
    margin-top: 50.5rem;
  }
}

@media (max-width: 767.98px) {
  .gallery-circle-bg .display-3[data-v-822e4710] {
    font-size: 15.48vw;
  }
}

@media (max-width: 767.98px) {
  .gallery-circle-bg .mobile-margin[data-v-822e4710] {
    margin-bottom: -0.28em;
  }
}

@media (max-width: 767.98px) {
  .gallery-circle-bg .mobile-margin-2[data-v-822e4710] {
    margin-bottom: -0.13em;
  }
}

.gallery-circle-bg .btn-black span[data-v-822e4710] {
  position: relative;
  top: 4px;
}

@media (max-width: 767.98px) {
  .gallery-circle-bg .small-word[data-v-822e4710] {
    position: relative;
    left: 22vw;
  }
}

@media (min-width: 768px) {
  .gallery-and-text[data-v-36fa3233] {
    padding: 11rem 0 20rem;
  }
}

@media (min-width: 768px) {
  .gallery-and-text .col-left[data-v-36fa3233] {
    width: 29vw;
  }
}

@media (min-width: 768px) {
  .gallery-and-text .col-middle[data-v-36fa3233] {
    width: 31vw;
  }
}

.gallery-and-text .vertical-line[data-v-36fa3233] {
  content: "";
  display: inline-block;
  width: 7rem;
  height: 1px;
  background-color: #979797;
  transform: rotate(125deg);
}

@media (min-width: 768px) {
  .gallery-and-text .vertical-line[data-v-36fa3233] {
    width: 9rem;
  }
}

@media (min-width: 768px) {
  .gallery-and-text .small-image-top[data-v-36fa3233] {
    position: absolute;
    top: -15vw;
    right: 0;
    width: 15vw;
    z-index: 1;
  }
}

.gallery-and-text .small-image-bottom[data-v-36fa3233] {
  bottom: -5vw;
  right: -7rem;
  z-index: 1;
  width: 17vw;
}

@media (min-width: 768px) {
  .gallery-and-text .small-image-bottom[data-v-36fa3233] {
    right: 0;
  }
}

@media (min-width: 1200px) {
  .gallery-and-text .small-image-bottom[data-v-36fa3233] {
    right: -7rem;
  }
}

.list-and-image[data-v-2cad7814] {
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .list-and-image[data-v-2cad7814] {
    padding: 13rem 0 19rem;
  }
}

@media (min-width: 768px) {
  .list-and-image .col-right[data-v-2cad7814] {
    width: 45vw;
  }
}

@media (min-width: 768px) {
  .list-and-image .list[data-v-2cad7814] {
    padding: 0 9.8rem;
  }
}

.list-and-image .list .item[data-v-2cad7814]:not(:last-child) {
  margin-bottom: 2.5rem;
}

.two-image-and-text .star-icon[data-v-1be493fa] {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .two-image-and-text .star-icon[data-v-1be493fa] {
    width: 3rem;
    height: 3rem;
    transform: translateX(-50%);
  }
}

.two-image-and-text .star-icon path[data-v-1be493fa] {
  fill: #fff;
}

.fullwidth-image[data-v-4e7b9580] {
  min-height: 50vw;
  height: 70vh;
}

.fullwidth-image .stage[data-v-4e7b9580] {
  height: 30vw;
}

@media (min-width: 768px) {
  .fullwidth-image[data-v-4e7b9580] {
    height: 100vh;
  }
}

.center-image[data-v-dca84fe6] {
  height: auto;
}

@media (min-width: 768px) {
  .center-image[data-v-dca84fe6] {
    height: 100vh;
  }
}

.elipse-image .opacity-05[data-v-80ed8178] {
  opacity: 1;
}

.elipse-image .elipse-img[data-v-80ed8178] {
  width: 72%;
  height: auto;
}

@media (max-width: 767.98px) {
  .elipse-image .mobile-font[data-v-80ed8178] {
    font-size: 2.32rem;
  }
}

.mailchimp .mailchimp-error[data-v-41ab38ea] {
  color: red;
}

.mailchimp .thank-you[data-v-41ab38ea] {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.mailchimp .tiny[data-v-41ab38ea] {
  font-size: 1rem !important;
}

.newsletter .item-four[data-v-60d1b024] {
  margin-top: -2vw;
}

.tab-component[data-v-2a89bf3d] {
  min-height: 50vw;
}

@media (min-width: 768px) {
  .tab-component[data-v-2a89bf3d] {
    margin-top: 0;
  }

  .tab-component .hidden-desktop[data-v-2a89bf3d] {
    visibility: hidden;
    pointer-events: none;
  }
}

.tab-component .content-wrapper[data-v-2a89bf3d] {
  min-height: 39vw;
}

.tab-component .tab-names[data-v-2a89bf3d] {
  transition: 0.4s;
}

.tab-component .tab-names[data-v-2a89bf3d]:hover {
  color: #000;
}

.tab-component .images-wrapper[data-v-2a89bf3d] {
  height: 100vw;
  top: -12vw;
}

@media (min-width: 768px) {
  .tab-component .images-wrapper[data-v-2a89bf3d] {
    height: 40vw;
    top: -5rem;
  }
}

.tab-component .texture-svg[data-v-2a89bf3d] {
  mix-blend-mode: multiply;
  opacity: 0.7;
}

.tab-component .images-container-0 .texture-svg[data-v-2a89bf3d] {
  position: absolute;
  top: -11vw;
  left: -11vw;
  width: 96vw;
  height: auto;
  z-index: 100;
}

@media (min-width: 768px) {
  .tab-component .images-container-0 .texture-svg[data-v-2a89bf3d] {
    top: -8vw;
    width: 41vw;
    left: -11vw;
  }
}

.tab-component .images-container-0 .image-two[data-v-2a89bf3d] {
  top: -29vw;
  left: -3vw;
  position: relative;
}

@media (min-width: 768px) {
  .tab-component .images-container-0 .image-two[data-v-2a89bf3d] {
    width: 39vw;
    top: -14vw;
  }
}

.tab-component .images-container-0 .image-one[data-v-2a89bf3d] {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .tab-component .images-container-0 .image-one[data-v-2a89bf3d] {
    width: 37vw;
  }
}

.tab-component .images-container-1 .image-one[data-v-2a89bf3d] {
  left: -7vw;
  height: 78vw;
}

@media (min-width: 768px) {
  .tab-component .images-container-1 .image-one[data-v-2a89bf3d] {
    height: auto;
  }
}

.tab-component .images-container-1 .image-two[data-v-2a89bf3d] {
  margin-top: -40vw;
  left: 10vw;
  position: relative;
  z-index: 100;
}

@media (min-width: 768px) {
  .tab-component .images-container-1 .image-two[data-v-2a89bf3d] {
    margin-top: -22rem;
    left: -2vw;
    width: 43vw;
  }
}

.tab-component .images-container-1 .texture-svg[data-v-2a89bf3d] {
  position: absolute;
  top: -12vw;
  right: -4vw;
  height: auto;
  transform: rotate(76deg) !important;
}

@media (min-width: 768px) {
  .tab-component .images-container-1 .texture-svg[data-v-2a89bf3d] {
    top: -5vw;
    right: -9vw;
    width: 44vw;
  }
}

.tab-component .images-container-2 .image-one[data-v-2a89bf3d] {
  left: 6vw;
  height: 49vw;
}

@media (min-width: 768px) {
  .tab-component .images-container-2 .image-one[data-v-2a89bf3d] {
    height: auto;
  }
}

.tab-component .images-container-2 .image-two[data-v-2a89bf3d] {
  margin-top: -7rem;
  left: -10vw;
  position: relative;
  z-index: 100;
  padding: 0 2rem;
  height: 68vw;
}

@media (min-width: 768px) {
  .tab-component .images-container-2 .image-two[data-v-2a89bf3d] {
    padding: 0;
    left: -2vw;
    margin-top: -15rem;
    width: 29vw;
    height: auto;
  }
}

.tab-component .images-container-2 .texture-svg[data-v-2a89bf3d] {
  position: absolute;
  top: 14.5vw;
  height: 71vw;
  right: 4vw;
  width: 71vw;
  transform: rotate(87deg) !important;
}

@media (min-width: 768px) {
  .tab-component .images-container-2 .texture-svg[data-v-2a89bf3d] {
    right: -5vw;
    width: 27vw;
    height: 33vw;
  }
}

.tab-component .images-container-3 .image-one[data-v-2a89bf3d] {
  left: -12vw;
  height: 72vw;
}

@media (min-width: 768px) {
  .tab-component .images-container-3 .image-one[data-v-2a89bf3d] {
    height: auto;
    width: 27vw;
    left: -7vw;
    top: -2vw;
  }
}

.tab-component .images-container-3 .image-two[data-v-2a89bf3d] {
  top: -46vw;
  left: 12vw;
  position: relative;
  z-index: 100;
  padding: 0 1rem;
  height: 68vw;
}

@media (min-width: 768px) {
  .tab-component .images-container-3 .image-two[data-v-2a89bf3d] {
    padding: 0;
    width: 34vw;
    top: -24vw;
    left: 2vw;
    height: auto;
  }
}

.tab-component .images-container-3 .texture-svg[data-v-2a89bf3d] {
  position: absolute;
  top: -3vw;
  right: -3vw;
  height: 69vw;
}

@media (min-width: 768px) {
  .tab-component .images-container-3 .texture-svg[data-v-2a89bf3d] {
    top: -14vw;
    right: -5.7vw;
    height: 29vw;
    width: 43vw;
    transform: rotate(-197deg) !important;
  }
}

.tab-component .navigation-arrows[data-v-2a89bf3d] {
  margin-top: -4vw;
}

.tab-component .navigation-arrows .arrow[data-v-2a89bf3d] {
  width: 4rem;
  height: 3rem;
}

.tab-component .navigation-arrows .arrow.prev[data-v-2a89bf3d] {
  transform: rotate(180deg);
}

@media (min-width: 1500px) {
  .project-preview[data-v-0818242a] {
    min-height: 100vh;
  }
}

.project-preview .project-image[data-v-0818242a] {
  transform: scale(1.005);
}

.project-preview .category-list h6[data-v-0818242a] {
  cursor: pointer;
}

.project-preview .category-list h6[data-v-0818242a]:not(:last-child) {
  margin-right: 0.5rem;
}

.project-preview
  .category-list
  h6:not(:last-child)
  span[data-v-0818242a]:after {
  content: ",";
}

.project-wrapper .star-icon[data-v-7b28da2a] {
  width: 2rem;
  height: 2rem;
}

.v-select {
  position: relative;
  font-family: inherit;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.vs__fade-enter-active,
.vs__fade-leave-active {
  pointer-events: none;
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

.v-select[dir="rtl"] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir="rtl"] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir="rtl"] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir="rtl"] .vs__dropdown-menu {
  text-align: right;
}

.vs__dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: 0 0 4px;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px;
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: #fff;
  transform: scale(1);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

.vs__clear {
  fill: #fff;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

.vs__dropdown-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 160px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: none;
  border: 1px solid #fff;
  border-top-style: none;
  border-radius: 0 0 0 0;
  text-align: left;
  list-style: none;
  background: #3f3f3f;
}

.vs__no-options {
  text-align: center;
}

.vs__dropdown-option {
  line-height: 1.42857143;
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #222;
  color: #fff;
}

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, 0.5);
}

.vs__dropdown-option--disabled:hover {
  cursor: inherit;
}

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #3f3f3f;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  line-height: 1.4;
  margin: 4px 2px 0;
  padding: 0 0.25em;
  z-index: 0;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: #fff;
  text-shadow: 0 1px 0 #fff;
}

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-ms-clear,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
  z-index: 1;
}

.vs__search::-moz-placeholder {
  color: #fff;
}

.vs__search:-ms-input-placeholder {
  color: #fff;
}

.vs__search::-ms-input-placeholder {
  color: #fff;
}

.vs__search::placeholder {
  color: #fff;
}

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable:not(.vs--disabled) .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0.9em solid hsla(0, 0%, 39.2%, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
  animation: vSelectSpinner 1.1s linear infinite;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.vs--loading .vs__spinner {
  opacity: 1;
}

.v-select {
  padding-bottom: 1px !important;
}

.v-select .vs__dropdown-toggle {
  padding: 0;
}

.v-select .vs__selected {
  padding: 0;
  margin-left: 0 !important;
}

.v-select .vs__search,
.v-select .vs__selected-options {
  padding: 0 !important;
}

.v-select .vs__open-indicator {
  height: auto;
  width: 1.2em;
}

.v-select .vs__actions {
  padding: 0;
}

.v-select .vs__dropdown-menu {
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.v-select .vs__search::-moz-placeholder {
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.v-select .vs__search:-ms-input-placeholder {
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.v-select .vs__search::-ms-input-placeholder {
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.v-select .vs__dropdown-toggle,
.v-select .vs__search::placeholder {
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.v-select .vs__dropdown-menu {
  padding: 0;
}

.v-select .vs__dropdown-option {
  color: #fff;
  padding: 6px 20px 2px;
}

.v-select .vs__clear,
.v-select .vs__open-indicator {
  fill: #fff;
}

.form-generator.form-sent[data-v-4cfc0620] {
  opacity: 0 !important;
  pointer-events: none;
}

@media (min-width: 768px) {
  .form-component a[data-v-4cfc0620]:not(:last-child) {
    margin-right: 3rem;
  }
}

@media (min-width: 768px) {
  .form-component .example[data-v-4cfc0620] {
    width: 22vw;
  }
}

@media (max-width: 767.98px) {
  .form-component .mobile-font[data-v-4cfc0620] {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .project-header .project-headline[data-v-279f9375] {
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .project-header .location-wrapper[data-v-279f9375] {
    position: absolute;
  }
}

.project-header .category-list h6[data-v-279f9375] {
  cursor: pointer;
}

.project-header .category-list h6[data-v-279f9375]:not(:last-child) {
  margin-right: 0.5rem;
}

.project-header .category-list h6:not(:last-child) span[data-v-279f9375]:after {
  content: ",";
}

.project-header .overlay[data-v-279f9375] {
  background: linear-gradient(180deg, #000, rgba(0, 212, 255, 0) 50%);
}

.headline-text-and-image .star-icon[data-v-40c5046b] {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .headline-text-and-image .star-icon[data-v-40c5046b] {
    width: 5rem;
    height: 5rem;
  }
}

.headline-text-and-image .star-icon.black path[data-v-40c5046b] {
  fill: #000;
}

.headline-text-and-image .star-icon.white path[data-v-40c5046b] {
  fill: #fff;
}

@media (min-width: 576px) {
  .headline-text-and-image .content[data-v-40c5046b] {
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .headline-text-and-image .image-wrapper[data-v-40c5046b] {
    width: 41vw;
  }
}

.headline-text-and-image .arrow[data-v-40c5046b] {
  width: 4rem;
  height: 3rem;
}

.headline-text-and-image .arrow.white[data-v-40c5046b] {
  stroke: #fff;
}

.headline-text-and-image .arrow.black[data-v-40c5046b] {
  fill: transparent;
  stroke: #000;
}

@media (min-width: 768px) {
  .headline-text-and-image .arrow[data-v-40c5046b] {
    width: 9rem;
    height: 3rem;
  }
}

.headline-text-and-image .arrow.right[data-v-40c5046b] {
  transform: rotate(180deg);
}

.two-image .memory-icon[data-v-52920d21] {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .two-image .memory-icon[data-v-52920d21] {
    width: 3rem;
    height: 3rem;
  }
}

.two-image .memory-icon.black path[data-v-52920d21] {
  fill: #000;
}

.two-image .memory-icon.white path[data-v-52920d21] {
  fill: #fff;
}

@media (min-width: 1200px) {
  .two-image-and-text .content-wrapper[data-v-50ff1f3e] {
    height: 120vh;
  }
}

.two-image-and-text .content[data-v-50ff1f3e] {
  line-height: 1.3;
}

@media (min-width: 768px) {
  .two-image-and-text .content[data-v-50ff1f3e] {
    line-height: 1;
  }
}

@media (max-width: 991.98px) {
  .two-image-and-text .mobile-font[data-v-50ff1f3e] {
    font-size: 1.4rem;
  }
}

.two-image-and-text .image[data-v-50ff1f3e] {
  min-height: 60vw;
}

@media (min-width: 768px) {
  .two-image-and-text .image[data-v-50ff1f3e] {
    min-height: 100%;
  }
}

.two-image-and-text .memory-icon[data-v-50ff1f3e] {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .two-image-and-text .memory-icon[data-v-50ff1f3e] {
    width: 3rem;
    height: 3rem;
  }
}

.two-image-and-text .memory-icon.black path[data-v-50ff1f3e] {
  fill: #000;
}

.two-image-and-text .memory-icon.white path[data-v-50ff1f3e] {
  fill: #fff;
}

.three-image .memory-icon[data-v-c61a3636] {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .three-image .memory-icon[data-v-c61a3636] {
    width: 3rem;
    height: 3rem;
  }
}

.three-image .memory-icon.black path[data-v-c61a3636] {
  fill: #000;
}

.three-image .memory-icon.white path[data-v-c61a3636] {
  fill: #fff;
}

.col-md-5[data-v-b8ce2914] {
  height: 100%;
}

@media (min-width: 768px) {
  .col-md-5[data-v-b8ce2914] {
    height: auto;
  }
}

@media (min-width: 768px) {
  .gallery-three-image .top-wrapper[data-v-74ce40ba] {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .gallery-three-image .content[data-v-74ce40ba] {
    width: 39vw;
  }
}

.more-projects[data-v-16d5f5fc] {
  position: relative;
  top: 1px;
  margin-top: -1px;
}

.more-projects .project-link .image-wrapper[data-v-16d5f5fc],
.more-projects .project-link .image[data-v-16d5f5fc] {
  transition: 0.4s;
  transform: scale(1.001);
}

.more-projects .project-link:hover .image[data-v-16d5f5fc] {
  transform: scale(1.05) translateZ(0);
}

.more-projects .project-link:active .image-wrapper[data-v-16d5f5fc] {
  transform: scale(0.95);
}

.more-projects .project-link:active .image[data-v-16d5f5fc] {
  transform: scale(1.2) translateZ(0);
}

.grid-item .img[data-v-6e67ef06],
.grid-item .outer-image[data-v-6e67ef06] {
  transition: transform 0.4s;
}

.grid-item .project-link:active .outer-image[data-v-6e67ef06] {
  transform: scale(0.95);
}

.grid-item .project-link:active .img[data-v-6e67ef06] {
  transform: scale(1.2);
}

.grid-item .project-link:active .medium[data-v-6e67ef06] {
  opacity: 0;
}

@media (max-width: 767.98px) {
  .grid-item[data-v-6e67ef06]:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media (max-width: 767.98px) {
  .grid-item .medium[data-v-6e67ef06] {
    font-size: 1.74rem;
  }
}

@media (min-width: 768px) {
  .grid-item .project-title[data-v-6e67ef06] {
    opacity: 0;
    transform: translateY(-6px);
    transition: 0.4s;
    padding-right: 3rem;
  }
}

.grid-item:hover .project-title[data-v-6e67ef06] {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-grid[data-v-5ba6d957] {
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .portfolio-grid[data-v-5ba6d957] {
    padding-top: 16rem;
    padding-bottom: 20rem;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .single-item[data-v-5ba6d957] {
    width: 25vw;
    left: 31vw;
    position: relative;
    top: 7vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item0[data-v-5ba6d957] {
    width: 23vw;
    position: relative;
    margin-top: 1vw;
  }

  .portfolio-grid .item0 .project-title[data-v-5ba6d957] {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item1[data-v-5ba6d957] {
    width: 20vw;
    transform: translateX(95%);
    margin-top: -11vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item2[data-v-5ba6d957] {
    width: 27vw;
    position: relative;
    left: 46vw;
    top: -19vw;
  }
}

.portfolio-grid .item3[data-v-5ba6d957] {
  z-index: 2;
}

@media (min-width: 768px) {
  .portfolio-grid .item3[data-v-5ba6d957] {
    width: 14vw;
    position: relative;
    top: -47vw;
    right: -69vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item4[data-v-5ba6d957] {
    width: 20vw;
    position: relative;
    top: -83vw;
    right: -80vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item5[data-v-5ba6d957] {
    width: 27vw;
    position: relative;
    left: 8vw;
    margin-top: -50vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item6[data-v-5ba6d957] {
    width: 20vw;
    left: 56vw;
    position: relative;
    margin-top: -20vw;
    top: 8vw;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item7[data-v-5ba6d957] {
    width: 25vw;
    position: relative;
    top: -28vw;
    right: -80vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item8[data-v-5ba6d957] {
    width: 20vw;
    left: 41vw;
    position: relative;
    top: 0;
    margin-top: -22vw;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item9[data-v-5ba6d957] {
    width: 25vw;
    position: relative;
    right: -75vw;
    margin-top: -10vw;
  }

  .portfolio-grid .item9 .project-title[data-v-5ba6d957] {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item10[data-v-5ba6d957] {
    width: 25vw;
    position: relative;
    margin-top: -24vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item11[data-v-5ba6d957] {
    width: 24vw;
    left: 21vw;
    position: relative;
    top: 0;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item12[data-v-5ba6d957] {
    width: 22vw;
    position: relative;
    right: -42vw;
    top: -33vw;
  }

  .portfolio-grid .item12 .project-title[data-v-5ba6d957] {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item13[data-v-5ba6d957] {
    width: 15vw;
    position: relative;
    right: -77vw;
    top: -41vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item14[data-v-5ba6d957] {
    position: relative;
    left: 3vw;
    width: 25vw;
    margin-top: -38vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item15[data-v-5ba6d957] {
    position: relative;
    left: 24vw;
    width: 23vw;
    margin-top: -6vw;
  }
}

@media (min-width: 768px) {
  .portfolio-grid .item16[data-v-5ba6d957] {
    position: relative;
    left: 61vw;
    width: 19vw;
    margin-top: -34vw;
  }
}

.page-404[data-v-173373e4] {
  height: 100% !important;
  background: transparent url(/naba-404-bg.jpg) no-repeat 0 0;
  background-size: cover;
}

.button-wrapper .btn[data-v-173373e4] {
  width: auto !important;
  padding: 1.5vw 8vw !important;
  font-size: 16px;
}

@media (min-width: 768px) {
  .button-wrapper .btn[data-v-173373e4] {
    font-size: 1.5vw !important;
  }
}

@media (max-width: 767.98px) {
  .button-wrapper[data-v-173373e4] {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .button-wrapper .btn[data-v-173373e4] {
    width: 100% !important;
    padding: 20px 8vw !important;
  }
}

.oval-container[data-v-173373e4] {
  height: 70vw;
  width: 96.6vw;
}

@media (min-width: 768px) {
  .oval-container[data-v-173373e4] {
    height: 50vw;
    width: 69vw;
  }
}

h1[data-v-173373e4] {
  font-size: 18vw;
}

@media (min-width: 768px) {
  h1[data-v-173373e4] {
    font-size: 10vw;
  }
}

.star-icon[data-v-173373e4] {
  width: 10vw;
  height: 10vw;
}

.star-icon [data-v-173373e4] {
  stroke: #fff;
  stroke-width: 2px;
}

@media (min-width: 768px) {
  .star-icon[data-v-173373e4] {
    width: 5vw;
    height: 5vw;
  }
}

/*!
 * Bootstrap v4.5.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xlg: 1500px;
  --font-family-sans-serif: FoundersGrotesk-Light;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

figure,
footer,
header,
section {
  display: block;
}

body {
  margin: 0;
  font-family: FoundersGrotesk-Light;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(.focus-visible),
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

dl,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

b {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]),
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.1;
}

.h1,
h1 {
  font-size: 5.55rem;
}

.h2,
h2 {
  font-size: 4.9rem;
}

.h3,
h3 {
  font-size: 4.3rem;
}

.h4,
h4 {
  font-size: 3.7rem;
}

.h5,
h5 {
  font-size: 3.1rem;
}

.h6,
h6 {
  font-size: 2.9rem;
}

.display-1 {
  font-size: 13vw;
}

.display-1,
.display-2 {
  font-weight: 300;
  line-height: 1.1;
}

.display-2 {
  font-size: 13.48rem;
}

.display-3 {
  font-size: 8.6vw;
}

.display-3,
.display-4 {
  font-weight: 300;
  line-height: 1.1;
}

.display-4 {
  font-size: 6.75rem;
}

.small,
small {
  font-size: 1.25rem;
  font-weight: 400;
}

.mark,
mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.figure {
  display: inline-block;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto,
.col-xlg,
.col-xlg-1,
.col-xlg-2,
.col-xlg-3,
.col-xlg-4,
.col-xlg-5,
.col-xlg-6,
.col-xlg-7,
.col-xlg-8,
.col-xlg-9,
.col-xlg-10,
.col-xlg-11,
.col-xlg-12,
.col-xlg-auto {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333%;
  }

  .offset-md-2 {
    margin-left: 16.66667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333%;
  }

  .offset-md-5 {
    margin-left: 41.66667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333%;
  }

  .offset-md-8 {
    margin-left: 66.66667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333%;
  }

  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1500px) {
  .col-xlg {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-xlg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xlg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xlg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xlg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xlg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xlg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xlg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xlg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xlg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xlg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xlg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xlg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xlg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 1.25rem;
  color: #28a745;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(40, 167, 69, 0.9);
  border-radius: 0.25rem;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 1.25rem;
  color: #dc3545;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled {
  pointer-events: none;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group-text input[type="checkbox"] {
  margin-top: 0;
}

.tab-content > .active {
  display: block;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-sm > .container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md > .container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-lg > .container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-xl > .container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1499.98px) {
  .navbar-expand-xlg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1500px) {
  .navbar-expand-xlg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-xlg > .container {
    flex-wrap: nowrap;
  }
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
}

.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-bottom: -0.75rem;
  border-bottom: 0;
}

.card-header-pills,
.card-header-tabs {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .card-deck,
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    grid-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress {
  height: 1rem;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress,
.progress-bar {
  display: flex;
  overflow: hidden;
}

.progress-bar {
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.media {
  display: flex;
  align-items: flex-start;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:hover {
  color: #000;
  text-decoration: none;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

a.close.disabled {
  pointer-events: none;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
}

.rounded-right,
.rounded-top {
  border-top-right-radius: 0.25rem !important;
}

.rounded-bottom,
.rounded-right {
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom,
.rounded-left {
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1500px) {
  .d-xlg-none {
    display: none !important;
  }

  .d-xlg-inline {
    display: inline !important;
  }

  .d-xlg-inline-block {
    display: inline-block !important;
  }

  .d-xlg-block {
    display: block !important;
  }

  .d-xlg-table {
    display: table !important;
  }

  .d-xlg-table-row {
    display: table-row !important;
  }

  .d-xlg-table-cell {
    display: table-cell !important;
  }

  .d-xlg-flex {
    display: flex !important;
  }

  .d-xlg-inline-flex {
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive:before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9:before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9:before {
  padding-top: 56.25%;
}

.embed-responsive-4by3:before {
  padding-top: 75%;
}

.embed-responsive-1by1:before {
  padding-top: 100%;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-column {
    flex-direction: column !important;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-md-wrap {
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-md-fill {
    flex: 1 1 auto !important;
  }

  .flex-md-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-md-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-md-start {
    justify-content: flex-start !important;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .justify-content-md-between {
    justify-content: space-between !important;
  }

  .justify-content-md-around {
    justify-content: space-around !important;
  }

  .align-items-md-start {
    align-items: flex-start !important;
  }

  .align-items-md-end {
    align-items: flex-end !important;
  }

  .align-items-md-center {
    align-items: center !important;
  }

  .align-items-md-baseline {
    align-items: baseline !important;
  }

  .align-items-md-stretch {
    align-items: stretch !important;
  }

  .align-content-md-start {
    align-content: flex-start !important;
  }

  .align-content-md-end {
    align-content: flex-end !important;
  }

  .align-content-md-center {
    align-content: center !important;
  }

  .align-content-md-between {
    align-content: space-between !important;
  }

  .align-content-md-around {
    align-content: space-around !important;
  }

  .align-content-md-stretch {
    align-content: stretch !important;
  }

  .align-self-md-auto {
    align-self: auto !important;
  }

  .align-self-md-start {
    align-self: flex-start !important;
  }

  .align-self-md-end {
    align-self: flex-end !important;
  }

  .align-self-md-center {
    align-self: center !important;
  }

  .align-self-md-baseline {
    align-self: baseline !important;
  }

  .align-self-md-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .align-items-xl-end {
    align-items: flex-end !important;
  }
}

@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }

  .float-md-right {
    float: right !important;
  }

  .float-md-none {
    float: none !important;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.fixed-top {
  top: 0;
}

.fixed-bottom,
.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  bottom: 0;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-1,
.my-1 {
  margin-top: 1.15rem !important;
}

.mr-1 {
  margin-right: 1.15rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 1.15rem !important;
}

.mt-2,
.my-2 {
  margin-top: 2rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 2rem !important;
}

.mt-3,
.my-3 {
  margin-top: 4rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 4rem !important;
}

.mt-4 {
  margin-top: 6rem !important;
}

.mb-4 {
  margin-bottom: 6rem !important;
}

.mb-5 {
  margin-bottom: 9rem !important;
}

.mt-small {
  margin-top: 0.5rem !important;
}

.mx-small {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mt-15 {
  margin-top: 1.5rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 0.5rem !important;
}

.mb-7 {
  margin-bottom: 0.5rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 0.5rem !important;
}

.p-1 {
  padding: 1.15rem !important;
}

.py-1 {
  padding-top: 1.15rem !important;
}

.pr-1,
.px-1 {
  padding-right: 1.15rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 1.15rem !important;
}

.px-1 {
  padding-left: 1.15rem !important;
}

.pt-2,
.py-2 {
  padding-top: 2rem !important;
}

.px-2 {
  padding-right: 2rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 2rem !important;
}

.px-2 {
  padding-left: 2rem !important;
}

.pt-3,
.py-3 {
  padding-top: 4rem !important;
}

.px-3 {
  padding-right: 4rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 4rem !important;
}

.pl-3,
.px-3 {
  padding-left: 4rem !important;
}

.pt-4 {
  padding-top: 6rem !important;
}

.px-4 {
  padding-right: 6rem !important;
}

.pb-4 {
  padding-bottom: 6rem !important;
}

.px-4 {
  padding-left: 6rem !important;
}

.pt-5,
.py-5 {
  padding-top: 9rem !important;
}

.py-5 {
  padding-bottom: 9rem !important;
}

.p-small {
  padding: 0.5rem !important;
}

.pb-15 {
  padding-bottom: 1.5rem !important;
}

.pt-6 {
  padding-top: 13rem !important;
}

.pb-6 {
  padding-bottom: 13rem !important;
}

.py-7 {
  padding-top: 0.5rem !important;
}

.px-7 {
  padding-right: 0.5rem !important;
}

.py-7 {
  padding-bottom: 0.5rem !important;
}

.px-7 {
  padding-left: 0.5rem !important;
}

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }

  .m-md-1 {
    margin: 1.15rem !important;
  }

  .mt-md-1,
  .my-md-1 {
    margin-top: 1.15rem !important;
  }

  .mr-md-1,
  .mx-md-1 {
    margin-right: 1.15rem !important;
  }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: 1.15rem !important;
  }

  .ml-md-1,
  .mx-md-1 {
    margin-left: 1.15rem !important;
  }

  .m-md-2 {
    margin: 2rem !important;
  }

  .mt-md-2,
  .my-md-2 {
    margin-top: 2rem !important;
  }

  .mr-md-2,
  .mx-md-2 {
    margin-right: 2rem !important;
  }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: 2rem !important;
  }

  .ml-md-2,
  .mx-md-2 {
    margin-left: 2rem !important;
  }

  .m-md-3 {
    margin: 4rem !important;
  }

  .mt-md-3,
  .my-md-3 {
    margin-top: 4rem !important;
  }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 4rem !important;
  }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: 4rem !important;
  }

  .ml-md-3,
  .mx-md-3 {
    margin-left: 4rem !important;
  }

  .m-md-4 {
    margin: 6rem !important;
  }

  .mt-md-4,
  .my-md-4 {
    margin-top: 6rem !important;
  }

  .mr-md-4,
  .mx-md-4 {
    margin-right: 6rem !important;
  }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 6rem !important;
  }

  .ml-md-4,
  .mx-md-4 {
    margin-left: 6rem !important;
  }

  .m-md-5 {
    margin: 9rem !important;
  }

  .mt-md-5,
  .my-md-5 {
    margin-top: 9rem !important;
  }

  .mr-md-5,
  .mx-md-5 {
    margin-right: 9rem !important;
  }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: 9rem !important;
  }

  .ml-md-5,
  .mx-md-5 {
    margin-left: 9rem !important;
  }

  .m-md-small {
    margin: 0.5rem !important;
  }

  .mt-md-small,
  .my-md-small {
    margin-top: 0.5rem !important;
  }

  .mr-md-small,
  .mx-md-small {
    margin-right: 0.5rem !important;
  }

  .mb-md-small,
  .my-md-small {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-small,
  .mx-md-small {
    margin-left: 0.5rem !important;
  }

  .m-md-15 {
    margin: 1.5rem !important;
  }

  .mt-md-15,
  .my-md-15 {
    margin-top: 1.5rem !important;
  }

  .mr-md-15,
  .mx-md-15 {
    margin-right: 1.5rem !important;
  }

  .mb-md-15,
  .my-md-15 {
    margin-bottom: 1.5rem !important;
  }

  .ml-md-15,
  .mx-md-15 {
    margin-left: 1.5rem !important;
  }

  .m-md-6 {
    margin: 13rem !important;
  }

  .mt-md-6,
  .my-md-6 {
    margin-top: 13rem !important;
  }

  .mr-md-6,
  .mx-md-6 {
    margin-right: 13rem !important;
  }

  .mb-md-6,
  .my-md-6 {
    margin-bottom: 13rem !important;
  }

  .ml-md-6,
  .mx-md-6 {
    margin-left: 13rem !important;
  }

  .m-md-7 {
    margin: 0.5rem !important;
  }

  .mt-md-7,
  .my-md-7 {
    margin-top: 0.5rem !important;
  }

  .mr-md-7,
  .mx-md-7 {
    margin-right: 0.5rem !important;
  }

  .mb-md-7,
  .my-md-7 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-7,
  .mx-md-7 {
    margin-left: 0.5rem !important;
  }

  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }

  .p-md-1 {
    padding: 1.15rem !important;
  }

  .pt-md-1,
  .py-md-1 {
    padding-top: 1.15rem !important;
  }

  .pr-md-1,
  .px-md-1 {
    padding-right: 1.15rem !important;
  }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: 1.15rem !important;
  }

  .pl-md-1,
  .px-md-1 {
    padding-left: 1.15rem !important;
  }

  .p-md-2 {
    padding: 2rem !important;
  }

  .pt-md-2,
  .py-md-2 {
    padding-top: 2rem !important;
  }

  .pr-md-2,
  .px-md-2 {
    padding-right: 2rem !important;
  }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: 2rem !important;
  }

  .pl-md-2,
  .px-md-2 {
    padding-left: 2rem !important;
  }

  .p-md-3 {
    padding: 4rem !important;
  }

  .pt-md-3,
  .py-md-3 {
    padding-top: 4rem !important;
  }

  .pr-md-3,
  .px-md-3 {
    padding-right: 4rem !important;
  }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 4rem !important;
  }

  .pl-md-3,
  .px-md-3 {
    padding-left: 4rem !important;
  }

  .p-md-4 {
    padding: 6rem !important;
  }

  .pt-md-4,
  .py-md-4 {
    padding-top: 6rem !important;
  }

  .pr-md-4,
  .px-md-4 {
    padding-right: 6rem !important;
  }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 6rem !important;
  }

  .pl-md-4,
  .px-md-4 {
    padding-left: 6rem !important;
  }

  .p-md-5 {
    padding: 9rem !important;
  }

  .pt-md-5,
  .py-md-5 {
    padding-top: 9rem !important;
  }

  .pr-md-5,
  .px-md-5 {
    padding-right: 9rem !important;
  }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: 9rem !important;
  }

  .pl-md-5,
  .px-md-5 {
    padding-left: 9rem !important;
  }

  .p-md-small {
    padding: 0.5rem !important;
  }

  .pt-md-small,
  .py-md-small {
    padding-top: 0.5rem !important;
  }

  .pr-md-small,
  .px-md-small {
    padding-right: 0.5rem !important;
  }

  .pb-md-small,
  .py-md-small {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-small,
  .px-md-small {
    padding-left: 0.5rem !important;
  }

  .p-md-15 {
    padding: 1.5rem !important;
  }

  .pt-md-15,
  .py-md-15 {
    padding-top: 1.5rem !important;
  }

  .pr-md-15,
  .px-md-15 {
    padding-right: 1.5rem !important;
  }

  .pb-md-15,
  .py-md-15 {
    padding-bottom: 1.5rem !important;
  }

  .pl-md-15,
  .px-md-15 {
    padding-left: 1.5rem !important;
  }

  .p-md-6 {
    padding: 13rem !important;
  }

  .pt-md-6,
  .py-md-6 {
    padding-top: 13rem !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: 13rem !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: 13rem !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: 13rem !important;
  }

  .p-md-7 {
    padding: 0.5rem !important;
  }

  .pt-md-7,
  .py-md-7 {
    padding-top: 0.5rem !important;
  }

  .pr-md-7,
  .px-md-7 {
    padding-right: 0.5rem !important;
  }

  .pb-md-7,
  .py-md-7 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-7,
  .px-md-7 {
    padding-left: 0.5rem !important;
  }

  .m-md-n1 {
    margin: -1.15rem !important;
  }

  .mt-md-n1,
  .my-md-n1 {
    margin-top: -1.15rem !important;
  }

  .mr-md-n1,
  .mx-md-n1 {
    margin-right: -1.15rem !important;
  }

  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -1.15rem !important;
  }

  .ml-md-n1,
  .mx-md-n1 {
    margin-left: -1.15rem !important;
  }

  .m-md-n2 {
    margin: -2rem !important;
  }

  .mt-md-n2,
  .my-md-n2 {
    margin-top: -2rem !important;
  }

  .mr-md-n2,
  .mx-md-n2 {
    margin-right: -2rem !important;
  }

  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -2rem !important;
  }

  .ml-md-n2,
  .mx-md-n2 {
    margin-left: -2rem !important;
  }

  .m-md-n3 {
    margin: -4rem !important;
  }

  .mt-md-n3,
  .my-md-n3 {
    margin-top: -4rem !important;
  }

  .mr-md-n3,
  .mx-md-n3 {
    margin-right: -4rem !important;
  }

  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -4rem !important;
  }

  .ml-md-n3,
  .mx-md-n3 {
    margin-left: -4rem !important;
  }

  .m-md-n4 {
    margin: -6rem !important;
  }

  .mt-md-n4,
  .my-md-n4 {
    margin-top: -6rem !important;
  }

  .mr-md-n4,
  .mx-md-n4 {
    margin-right: -6rem !important;
  }

  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -6rem !important;
  }

  .ml-md-n4,
  .mx-md-n4 {
    margin-left: -6rem !important;
  }

  .m-md-n5 {
    margin: -9rem !important;
  }

  .mt-md-n5,
  .my-md-n5 {
    margin-top: -9rem !important;
  }

  .mr-md-n5,
  .mx-md-n5 {
    margin-right: -9rem !important;
  }

  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -9rem !important;
  }

  .ml-md-n5,
  .mx-md-n5 {
    margin-left: -9rem !important;
  }

  .m-md-nsmall {
    margin: -0.5rem !important;
  }

  .mt-md-nsmall,
  .my-md-nsmall {
    margin-top: -0.5rem !important;
  }

  .mr-md-nsmall,
  .mx-md-nsmall {
    margin-right: -0.5rem !important;
  }

  .mb-md-nsmall,
  .my-md-nsmall {
    margin-bottom: -0.5rem !important;
  }

  .ml-md-nsmall,
  .mx-md-nsmall {
    margin-left: -0.5rem !important;
  }

  .m-md-n15 {
    margin: -1.5rem !important;
  }

  .mt-md-n15,
  .my-md-n15 {
    margin-top: -1.5rem !important;
  }

  .mr-md-n15,
  .mx-md-n15 {
    margin-right: -1.5rem !important;
  }

  .mb-md-n15,
  .my-md-n15 {
    margin-bottom: -1.5rem !important;
  }

  .ml-md-n15,
  .mx-md-n15 {
    margin-left: -1.5rem !important;
  }

  .m-md-n6 {
    margin: -13rem !important;
  }

  .mt-md-n6,
  .my-md-n6 {
    margin-top: -13rem !important;
  }

  .mr-md-n6,
  .mx-md-n6 {
    margin-right: -13rem !important;
  }

  .mb-md-n6,
  .my-md-n6 {
    margin-bottom: -13rem !important;
  }

  .ml-md-n6,
  .mx-md-n6 {
    margin-left: -13rem !important;
  }

  .m-md-n7 {
    margin: -0.5rem !important;
  }

  .mt-md-n7,
  .my-md-n7 {
    margin-top: -0.5rem !important;
  }

  .mr-md-n7,
  .mx-md-n7 {
    margin-right: -0.5rem !important;
  }

  .mb-md-n7,
  .my-md-n7 {
    margin-bottom: -0.5rem !important;
  }

  .ml-md-n7,
  .mx-md-n7 {
    margin-left: -0.5rem !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .mr-xl-0 {
    margin-right: 0 !important;
  }

  .px-xl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .pr-xl-2 {
    padding-right: 2rem !important;
  }

  .pt-xl-3 {
    padding-top: 4rem !important;
  }

  .pr-xl-3 {
    padding-right: 4rem !important;
  }

  .px-xl-4 {
    padding-right: 6rem !important;
  }

  .pl-xl-4,
  .px-xl-4 {
    padding-left: 6rem !important;
  }

  .px-xl-5 {
    padding-right: 9rem !important;
    padding-left: 9rem !important;
  }

  .pr-xl-6 {
    padding-right: 13rem !important;
  }

  .px-xl-7 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

@media (min-width: 1500px) {
  .pr-xlg-3 {
    padding-right: 4rem !important;
  }
}

.stretched-link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace !important;
}

.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}

@media (min-width: 1500px) {
  .text-xlg-left {
    text-align: left !important;
  }

  .text-xlg-right {
    text-align: right !important;
  }

  .text-xlg-center {
    text-align: center !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #007bff !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #0056b3 !important;
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
  color: #494f54 !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:focus,
a.text-success:hover {
  color: #19692c !important;
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #0f6674 !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:focus,
a.text-warning:hover {
  color: #ba8b00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:focus,
a.text-danger:hover {
  color: #a71d2a !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:focus,
a.text-light:hover {
  color: #cbd3da !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:focus,
a.text-dark:hover {
  color: #121416 !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-wrap: break-word !important;
}

.text-reset {
  color: inherit !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }

  .container,
  body {
    min-width: 992px !important;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td {
    background-color: #fff !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.t-0 {
  top: 0;
}

.t-100 {
  top: 100%;
}

.b-0 {
  bottom: 0;
}

.display-block {
  display: block;
}

.l-0 {
  left: 0;
}

.h-0 {
  height: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

.lh-04 {
  line-height: 0.4;
}

.lh-05 {
  line-height: 0.5;
}

.lh-08 {
  line-height: 0.8;
}

.lh-09 {
  line-height: 0.9;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-12 {
  line-height: 1.2;
}

.lh-13 {
  line-height: 1.3;
}

.lh-15 {
  line-height: 1.5;
}

.big-letter-spacing {
  letter-spacing: 0.05em;
}

.transition {
  transition: 0.4s;
}

.disabled {
  pointer-events: none !important;
}

.enabled {
  pointer-events: auto !important;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.no-events {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cover {
  background-size: cover;
}

.contain {
  background-size: contain;
  -o-object-fit: contain;
  object-fit: contain;
}

.bg-center {
  background-position: 50%;
}

.bg-bottom {
  background-position: bottom;
}

.bg-top {
  background-position: top;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.on-top {
  z-index: 100;
}

.indented {
  text-indent: -10000px;
}

.behind-1 {
  z-index: -1;
}

.behind-2 {
  z-index: -2;
}

.z-1 {
  z-index: 1;
}

.opacity {
  opacity: 0.7 !important;
}

.no-repeat {
  background-repeat: no-repeat;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}

.fade-out {
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
}

body,
html {
  color: #000;
  font-family: FoundersGrotesk-Light;
  letter-spacing: normal;
  font-weight: 400;
}

.founders-regular {
  font-family: FoundersGrotesk-Regular;
}

.antiqua-font {
  font-family: AntiquaRoman;
}

.medium {
  font-size: 2rem;
}

.mediumv2 {
  font-size: 1.55rem;
}

.small {
  font-size: 1.25rem;
}

.tiny {
  font-size: 0.86rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.h1 a,
.h1 li,
.h1 p,
.h1 span,
.h2 a,
.h2 li,
.h2 p,
.h2 span,
.h3 a,
.h3 li,
.h3 p,
.h3 span,
.h4 a,
.h4 li,
.h4 p,
.h4 span,
.h5 a,
.h5 li,
.h5 p,
.h5 span,
.h6 a,
.h6 li,
.h6 p,
.h6 span,
.small a,
.small li,
.small p,
.small span,
.tiny a,
.tiny li,
.tiny p,
.tiny span {
  font-size: inherit !important;
}

a,
li,
p,
span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 0.9vw;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .small,
  .tiny,
  a,
  p,
  small {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .display-2 {
    font-size: 4.044rem;
  }

  .display-3 {
    font-size: 11.18vw;
  }

  .display-4 {
    font-size: 3.375rem;
  }

  .h1,
  h1 {
    font-size: 3.0525rem;
  }

  .h2,
  h2 {
    font-size: 2.45rem;
  }

  .h3,
  h3 {
    font-size: 2.795rem;
  }

  .h4,
  h4 {
    font-size: 2.22rem;
  }

  .h5,
  h5 {
    font-size: 1.86rem;
  }

  .h6,
  h6 {
    font-size: 1.74rem;
  }

  .medium {
    font-size: 1.2rem;
  }

  .mediumv2 {
    font-size: 1.1625rem;
  }

  ::-moz-placeholder {
    font-size: 1rem !important;
  }

  :-ms-input-placeholder {
    font-size: 1rem !important;
  }

  ::-ms-input-placeholder {
    font-size: 1rem !important;
  }

  .input,
  .small,
  ::placeholder,
  input,
  label,
  select {
    font-size: 1rem !important;
  }
}

.color-white {
  color: #fff;
}

.bg-whitev2 {
  background-color: #f7f2ef;
}

.bg-whitev3 {
  background-color: #ece3df;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-blackv2 {
  background-color: #171812;
}

.bg-blackv3 {
  background-color: #161616;
}

.bg-olive {
  background-color: #dcd9c9;
}

.bg-olivev2 {
  background-color: #dbd8c7;
}

.bg-olivev3 {
  background-color: #95977f;
}

.bg-olivev4 {
  background-color: #91907b;
}

.bg-brown {
  background-color: #876550;
}

.color-greyv2 {
  color: #303030;
}

.bg-greyv3 {
  background-color: #343434;
}

.bg-greyv4 {
  background-color: #151515;
}

.bg-greyv5 {
  background-color: #cbc8b9;
}

.bg-greyv6 {
  background-color: #eef2f3;
}

.color-greyv7 {
  color: hsla(0, 0%, 76.9%, 0.7);
}

.bg-light-red {
  background-color: #e9dfda;
}

.bg-biege {
  background-color: #d2b794;
}

.color-black-opacity {
  color: rgba(0, 0, 0, 0.2);
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  background: #000;
}

::-moz-selection {
  background: #dad5c1;
  color: #fff;
}

::selection {
  background: #dad5c1;
  color: #fff;
}

.page-wrapper {
  width: 100%;
  position: relative;
}

.should-animate {
  opacity: 0;
  will-change: opacity, transform;
}

.transitioning-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

a,
a:hover {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content p:not(:last-child) {
  margin-bottom: 2rem;
}

.headline p:not(:last-child) {
  margin-bottom: 4rem;
}

.elipse-img .img {
  border-radius: 50%;
}

.gallery-circle-bg .content span {
  margin-left: 25%;
}

@media (min-width: 768px) {
  .gallery-circle-bg .content span {
    margin-left: 50%;
  }
}

.tab-content i {
  font-style: normal;
  font-size: 1.55rem;
  font-family: AntiquaRoman;
  line-height: 1;
}

.btn {
  transition: 0.4s;
  border-radius: 0;
  font-family: FoundersGrotesk-Light;
  transform: scale(1.01) translateZ(0);
  box-shadow: none !important;
  white-space: nowrap;
}

.btn.btn-submit {
  background-color: #ece3df;
  width: 100%;
  padding: 1.2rem 1.8rem;
  color: #000;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .btn.btn-submit {
    padding: 1.8rem;
  }
}

.btn.btn-white {
  background-color: #ece3df;
  color: #000;
  padding: 1.8rem 3rem;
  width: 100%;
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .btn.btn-white {
    width: 50%;
    padding: 1rem 5rem;
    font-size: 1.55rem;
  }
}

.btn.btn-black {
  background-color: #000;
  color: #fff;
  padding: 1.2rem 3rem;
  width: 100%;
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .btn.btn-black {
    width: 50%;
    padding: 1.5rem;
    font-size: 1.55rem;
  }
}

.btn.btn-black span {
  position: relative;
  top: 3px;
}

@media (min-width: 768px) {
  .btn:hover {
    transform: scale(1.05) translateZ(0);
  }
}

.btn:active {
  transform: scale(0.97) translateZ(0);
}

.btn span {
  top: 4px;
}

.btn span,
.link {
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: 0.4s;
}

.link:hover:after {
  width: 100%;
}

.link-line {
  position: relative;
}

.link-line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: currentColor;
  transition: 0.4s;
  transform-origin: left;
}

.link-line.reversed:after,
.link-line.selected:after,
.link-line:not(.no-hover):hover:after {
  transform: scaleX(1);
}

.link-line.reversed:not(.no-hover):hover:after {
  transform: scaleX(0);
}

.input,
input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 1rem 0 0.5rem;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 0;
  outline: none;
}

.input--invalid,
input--invalid,
textarea--invalid {
  border-bottom: 1px solid #ff4000;
}

label {
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .aligned-textarea {
    padding: 1rem 0 0.5rem;
  }

  .aligned-textarea label {
    margin-bottom: 0.35rem;
  }
}

::-moz-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
}

:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
}

::-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
}

::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.validate-error {
  margin-top: 0.4em;
}

.date-picker,
.vc-container {
  font-family: FoundersGrotesk-Light !important;
}

.date-picker input,
.vc-container input {
  text-transform: uppercase;
}

textarea {
  border-bottom: 1px solid #fff;
  font-size: 1.25rem;
  height: 30vw;
  resize: none;
  padding: 0 1em 0 0;
}

@media (min-width: 768px) {
  textarea {
    height: auto;
  }
}

textarea::-moz-placeholder {
  text-transform: none;
  font-size: 1.125rem;
}

textarea:-ms-input-placeholder {
  text-transform: none;
  font-size: 1.125rem;
}

textarea::-ms-input-placeholder {
  text-transform: none;
  font-size: 1.125rem;
}

textarea::placeholder {
  text-transform: none;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  textarea::-moz-placeholder {
    width: 64%;
  }

  textarea:-ms-input-placeholder {
    width: 64%;
  }

  textarea::-ms-input-placeholder {
    width: 64%;
  }

  textarea::placeholder {
    width: 64%;
  }
}

.hamburger[data-v-209bb0f5] {
  display: inline-block;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger[data-v-209bb0f5]:focus {
  outline: none;
}

.hamburger-box[data-v-209bb0f5] {
  position: relative;
  width: 1.95rem;
  height: 0.6rem;
  display: block;
  cursor: pointer;
  transition: transform 0.3s;
}

@media (min-width: 1200px) {
  .hamburger-box[data-v-209bb0f5] {
    width: 1.5rem;
    height: 0.3rem;
  }
}

.hamburger-box .line[data-v-209bb0f5] {
  position: absolute;
  left: 0;
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: 0.4s;
  transform-origin: center;
}

.hamburger-box .line--1[data-v-209bb0f5] {
  top: 0;
}

.hamburger-box .line--2[data-v-209bb0f5] {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.hamburger-box .line--3[data-v-209bb0f5] {
  bottom: 0;
}

.is-active .hamburger-box[data-v-209bb0f5] {
  transform: rotate(90deg);
}

.is-active .line--1[data-v-209bb0f5] {
  width: 100%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
  background-color: #fff;
}

.is-active .line--2[data-v-209bb0f5] {
  transition: 0.2s;
  opacity: 0;
  background-color: #fff;
}

.is-active .line--3[data-v-209bb0f5] {
  width: 100%;
  transform: translate3d(0, 50%, 0) rotate(-45deg);
  bottom: 50%;
  background-color: #fff;
}

.navigation[data-v-404d9041] {
  z-index: 100000;
  transition: 0.4s;
  padding: 1rem;
}

@media (min-width: 768px) {
  .navigation[data-v-404d9041] {
    padding: 2rem 4rem;
  }
}

.navigation .router-link-active[data-v-404d9041]:after {
  width: 100%;
}

.navigation .logo[data-v-404d9041] {
  font-size: 1.8rem;
  top: 0.2em !important;
  position: relative;
}

@media (min-width: 768px) {
  .navigation .logo[data-v-404d9041] {
    font-size: 1.4rem;
  }
}

.navigation .nav-wrapper a[data-v-404d9041]:not(:last-child) {
  margin-right: 4rem;
}

.fullscreen-menu[data-v-3d213c42] {
  z-index: 1000;
  height: 100%;
  width: 100vw;
  overflow: auto;
}

.fullscreen-menu .nav-item[data-v-3d213c42] {
  margin-bottom: 3rem;
}

.fullscreen-menu .nav-item[data-v-3d213c42]:last-child {
  margin-bottom: 0 !important;
}

.loader-text[data-v-b7046d32] {
  opacity: 0;
}

.loader[data-v-b7046d32] {
  z-index: 999999;
  background-color: #101010;
}

.h6[data-v-b7046d32] {
  font-size: 2.3rem;
}

.parallax-wrapper[data-v-45e57f73] {
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .parallax-wrapper.not-wrapped > .parallax[data-v-45e57f73] {
    transform: none !important;
    top: 0 !important;
  }
}

.wrapped[data-v-45e57f73] {
  overflow: hidden;
  left: 0;
  top: 0;
}

.parallax[data-v-45e57f73] {
  position: relative;
  will-change: transform;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.image-div img[data-v-0e2740ec] {
  -o-object-fit: cover;
  object-fit: cover;
}

.liquid-btn[data-v-4b4fd526] {
  outline: none;
  border: none;
  padding: 0;
  transition: 0.4s;
}

.liquid-btn[data-v-4b4fd526]:active {
  transform: scale(0.97);
}

.liquid-btn.black-btn .blob[data-v-4b4fd526],
.liquid-btn.black-btn .liquid[data-v-4b4fd526] {
  background-color: #000 !important;
}

.liquid-btn.black-bg-btn .btn-container[data-v-4b4fd526] {
  background: #000;
}

.liquid-btn.black-bg-btn .btn-container .text[data-v-4b4fd526] {
  color: #fff;
}

.liquid-btn.pink-bg-btn .btn-container[data-v-4b4fd526] {
  background: #ece3df;
}

.liquid-btn .btn-container[data-v-4b4fd526] {
  background: hsla(0, 0%, 100%, 0.7);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 1.5rem 4rem;
}

.liquid-btn .btn-container .text[data-v-4b4fd526] {
  z-index: 1;
  position: relative;
  transition: color 0.45s;
  transition-delay: 0.3s;
  font-size: 1.7rem;
  text-transform: none;
  top: 0.2em;
  font-family: FoundersGrotesk-Regular;
}

.liquid-btn .btn-container .blobs[data-v-4b4fd526] {
  -webkit-filter: url(#goo);
  filter: url(#goo);
  width: 110%;
  height: 275%;
  position: absolute;
  bottom: 0;
  transform: rotate(8deg);
}

.liquid-btn .btn-container .blobs .liquid[data-v-4b4fd526] {
  width: 120%;
  height: 2%;
  position: absolute;
  top: -2%;
  left: -10%;
  background: #666;
  border-radius: 10%;
  transition: 1.2s;
  display: block;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526] {
  width: 10%;
  height: 10%;
  margin: 0 2% 0 0;
  background: #666;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  transition: 1.2s;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:first-child {
  left: -14%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(2) {
  left: -1%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(3) {
  left: 12%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(4) {
  left: 25%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(5) {
  left: 38%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(6) {
  left: 51%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(7) {
  left: 64%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(8) {
  left: 77%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-child(9) {
  left: 90%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-of-type(4n-7) {
  width: 50%;
  height: 40%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-of-type(3n-2) {
  width: 20%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-of-type(2) {
  width: 32%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-of-type(8) {
  height: 32%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-of-type(4n + 2) {
  height: 53%;
}

.liquid-btn .btn-container .blobs .blob[data-v-4b4fd526]:nth-of-type(6n-2) {
  height: 42%;
  height: 52%;
}

.liquid-btn .btn-container:hover .liquid[data-v-4b4fd526] {
  height: 109%;
  top: 0;
}

.liquid-btn .btn-container:hover .text[data-v-4b4fd526] {
  color: #fff;
  transition-delay: 0s;
}

.liquid-btn .btn-container:hover .blob[data-v-4b4fd526] {
  top: 103%;
}

.liquid-btn .btn-container:hover .blob[data-v-4b4fd526]:nth-of-type(4n-7) {
  top: 102%;
  width: 30%;
  height: 20%;
}

.liquid-btn .btn-container:hover .blob[data-v-4b4fd526]:nth-of-type(8) {
  top: 102%;
  height: 50%;
}

.liquid-btn .btn-container:hover .blob[data-v-4b4fd526]:nth-of-type(4n + 2) {
  top: 100%;
}

.liquid-btn .btn-container:hover .blob[data-v-4b4fd526]:nth-of-type(6n-2) {
  top: 95%;
  height: 105%;
}

.outer-wrapper[data-v-a8268e16] {
  position: relative;
}

.inner-wrapper[data-v-a8268e16] {
  width: 100%;
  height: 100%;
}

.mouse-parallax[data-v-a8268e16] {
  will-change: transform;
  transform-style: preserve-3d;
}

@media (max-width: 991.98px) {
  .mouse-parallax[data-v-a8268e16] {
    transform: none !important;
  }
}

.parallax-wrapper[data-v-1cc82325] {
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .parallax-wrapper.not-wrapped > .parallax[data-v-1cc82325] {
    transform: none !important;
    top: 0 !important;
  }
}

.wrapped[data-v-1cc82325] {
  overflow: hidden;
  left: 0;
  top: 0;
}

.parallax[data-v-1cc82325] {
  position: relative;
  will-change: transform;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: center;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.split-text[data-v-5ef187a6] {
  opacity: 0;
}

.swiper.visible .swiper-container {
  overflow: visible;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.swiper-container,
.swiper-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
}

.swiper-wrapper {
  display: flex;
  box-sizing: content-box;
  transform: translateZ(0);
}

.swiper-slide,
.swiper-wrapper {
  width: 100%;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}

@-webkit-keyframes swiper-preloader-spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes swiper-preloader-spin {
  to {
    transform: rotate(1turn);
  }
}
